/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Work Sans', Arial, sans-serif;
  color: #fff;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrollbar */
  
}
body::before, body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

body::before {
  background-image: url('./assets/space bg.gif');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body::after {
  background: rgba(0, 0, 0, 0.65); /* Adjust opacity as needed */
}

header, header * {
  background: transparent !important;
}

/* Header and Navigation */
header {
  background: none !important; /* Ensuring no background color */
  color: #fff;
  padding: 10px; /* Adjust as needed for spacing from the top and right */
  text-align: right;
  position: fixed;
  top: 0; /* Align to the top */
  right: 0; /* Align to the right */
  left: 0; /* Stretch across the top */
  width: 100%;
  z-index: 10;
  
}

/* Volume Slider Styling */
input[type=range] {
  -webkit-appearance: none; /* Override default appearance */
  appearance: none;
  width: 200px; /* Increased width for better interaction */
  height: 10px; /* Thicker track for visibility */
  background: linear-gradient(to right, white 0%, white var(--fill-percentage, 50%), black var(--fill-percentage, 50%), black 100%);
  border: 1px solid white;
}

#play-btn:active, #pause-btn:active {
  transform: scale(0.95); /* Slightly shrink buttons when clicked */
}

input[type=range]:focus {
  outline: none; /* Remove the focus outline */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px; /* Larger thumb for easier interaction */
  width: 20px;
  background: #ffffff; /* Vibrant green thumb */
  cursor: pointer;
  border: 2px solid black;
}



/* Firefox */
input[type=range]::-moz-range-thumb {
  height: 20px; /* Larger thumb for easier interaction */
  width: 20px;
  background: #ffffff; /* Vibrant green thumb */
  cursor: pointer;
  border: 2px solid black;
}

input[type=range]::-moz-range-track {
  width: 200px; /* Increased width for better interaction */
  height: 10px; /* Thicker track for visibility */
  background: linear-gradient(to right, white 0%, white var(--fill-percentage, 50%), black var(--fill-percentage, 50%), black 100%);
  border: 1px solid white;
}

header nav {
  display: flex;
  justify-content: flex-end; /* Aligns content to the end on the main-axis (right) */
  align-items: flex-start; /* Aligns items to the start of the cross-axis (top) */
  height: 100%;
  
}

header nav ul {
  margin-top: 20px; /* Ensure the list is at the top of the nav */
  padding-top: 0; /* Adjust if needed */
  list-style: none;
  display: flex;
  height: 100%; /* Full height of the nav */
  
}

header nav ul li {
  margin-left: 20px;
  padding-top: 0;
  
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  
}

header nav ul li a:hover {
  color: rgb(61, 61, 61);
}

.logo {
  height: 120px; /* Adjust as needed */
  margin-left: 20px;
  padding: 10px 20px;
}

/* Main Content */
main {
  margin-top: 300px;
  text-align: center;
}

#cover-art {
  max-width: 100%;
  height: auto;
  border: 3px solid #fff; /* White border around cover image */
}

#song-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  padding: 5px 10px;
  min-width: 0; /* Allow the container to shrink */
  max-width: calc(100% - 20px); /* Your existing max-width */
  white-space: nowrap;
  overflow: hidden;
  transition: width 0.5s ease;
}

.fade-in {
  animation: fadeInAnimation 3s forwards;
}

.fade-out {
  animation: fadeOutAnimation 0.2s forwards;
}

@keyframes fadeInAnimation {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOutAnimation {
  from { opacity: 1; }
  to { opacity: 0; }
}

.current-page {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

#separator {
  transition: transform 0.5s ease;
  /* Adjust the below transform property as per the initial and final positions of the separator */
  transform: translateX(0); /* Initial position */
}

#song-name, #artist-name {
  margin: 0 5px; /* Adjust spacing as needed */
}

button#volume-btn {
  width: 54px;
  height: 57px;
  padding: 0;
  border: none;
  box-sizing: border-box; /* This ensures padding and border are included in total width/height */
  
}



/* Style for the volume and mute buttons */
.volume-control-container {
  grid-column: 3; /* Place it in the third column */
  display: flex;
  justify-self: end; /* Align to the end of the column */
  align-items: center;
}

/* Volume Button Styling */
button#volume-btn {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Button shadow */
}

/* If you have different SVGs for volume (like mute/unmute), you can toggle their visibility */
#volume-icon {
  display: block; /* Shown by default */
  
}

#mute-icon {
  display: none; /* Hidden by default */
}

/* Player Controls Styling */
#player-controls {
  display: grid;
  grid-template-columns: auto 1fr auto; /* Three columns: play/pause, heart, volume */
  align-items: center;
  gap: 10px; /* Adjust as needed */
  padding: 5px;
  background: transparent;
  border-top: 5px solid #ffffff;
}

#play-btn:hover, #pause-btn:hover, #heart-btn:hover {
  transform: scale(1.02); /* Slightly enlarge buttons on hover */
}

/* Play/Pause Button Styling */
#play-btn, #pause-btn {
  grid-column: 1;
  justify-self: start; /* Align to the start of the column */
  padding: 0px 95px; /* More horizontal padding for a wider button */
  /* Rest of your button styling */
}

/* Heart Button Styling - placeholder for your heart button */
#heart-btn {
  grid-column: 2;
  padding: 0px 100px;
  /* Your heart button styling */
}

#pocket-radio {
  display: grid;
  grid-template-columns: 1fr; /* Three columns layout */
  grid-template-rows: auto 1fr auto; /* Define rows for cover, controls, and empty space */
  max-width: 800px;
  margin: auto;
  border: 5px solid #fff;
  
}

#screen-container {
  position: relative;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: black;
}

button {
  vertical-align: middle;
  /* Other styling as needed */
}


/* Footer */
footer {
  background: #111;
  color: #fff;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  header nav ul {
      flex-direction: column;
      align-items: flex-end;
      white-space: nowrap;
  overflow: hidden;
  }

  #player-container {
    grid-template-columns: 1fr; / Stack elements under each other on smaller screens */
    grid-template-rows: auto auto auto;
  }

  #song-info {
    min-width: 0; /* Allow the container to shrink */
    max-width: calc(100% - 20px); /* Your existing max-width */ /* Smaller for mobile screens */
  }

  button {
    padding: 5px 10px;
  }

  #cover-art-container {
    grid-column: 1;
    grid-row: 1;
  }

  .volume-slider {
    width: 80px; /* Smaller slider on mobile */
  }

  #player-controls {
    grid-column: 1;
    grid-row: 2;
  }

  header nav ul li {
      margin-top: 10px;
      white-space: nowrap;
      overflow: hidden;
  }
}

/* Webkit Scrollbars for Chrome, Safari, and newer versions of Opera */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Track background */
}

::-webkit-scrollbar-thumb {
  background: #fff; /* Thumb color */
  border-radius: 6px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #fff; /* Color when hovered */
}

/* Scrollbar for Firefox */
* {
  scrollbar-width: thin; /* 'auto' or 'thin' */
  scrollbar-color: #fff transparent; /* Thumb and track color */
}

